# Replace URL with your Saleor backend. Make sure to keep the slash at the end.
NEXT_PUBLIC_SALEOR_API_URL=https://store-0ydjkevu.saleor.cloud/graphql/

# make sure to add it on production for correct canonical URLs
NEXT_PUBLIC_STOREFRONT_URL=http://localhost:3000

# Token used for fetching channels
SALEOR_APP_TOKEN=

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=mongodb+srv://uzima:VZkerUqp5QxfiQKn@uzi.impvd.mongodb.net/qacym?retryWrites=true&w=majority

# payd api keys
MYPAYD_WALLET=
MYPAYD_API_USERNAME=
MYPAYD_API_PASSWORD=

# resend api keys
RESEND_API_KEY=
